body {
  background-image: url(./6369653753837926326Ah9yH.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
img{
    margin-top: 100px;
    border-style: double;
    border-radius: 10px;
    border-width: 10px;
    border-color: black
    
}
button{
    background-color: red;
    border-color: greenyellow;
    border-radius: 10px;
    color: white;
    border-style: double;
    border-width: 10px;
    outline: fuchsia;
    margin-top: 100px;
    font-size: 20px;
    
}
}