body {
  color: white;
  background-color: black;
}
h1 {
  color: lawngreen;
  text-shadow: 2px 3px rgba(0, 0, 0, 0.452);
  text-align: center;
}
@media screen and (max-width: 900px) {
  body {
    background-color: brown;
    color: rgb(227, 250, 16);
  }
}
@media screen and (max-width: 300px) {
  body {
    background-color: rgb(42, 44, 165);
    color: red;
  }
}
