div {
  border: 20px;
  padding: 30px;
  background-color: plum;
}
h1 {
  color: rgb(60, 95, 8);
  text-decoration: rgb(24, 1, 1) underline;
  text-shadow: 2px 3px brown;
  font-size: 50px;
}
ul {
  color: blue;
  display: block;
}
span {
  color: crimson;
  /* display: none; */
}
button {
  border-style: dashed;
  border-width: 2px;
  border-radius: 10px;
  border-color: darkgoldenrod;
  color: black;
  background-color: darkturquoise;
  padding: 10px;
}
